/* page 1 */
body{
    padding: 15px;
}
.titleOne{
background: plum;
color: aqua;
}
.titletwo{
    background: aqua;
    color: plum;

}
.bgRed{
background: red;

}
.bgGreen{
background: green;
padding: 15px;
}
.bgYellow{
    background: yellow;
    padding: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: palegreen;
}
.resultForm{
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
    background: greenyellow;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #283645;
    overflow: hidden;
}
li{
    text-align: center;
    float: left;
}
li a{
    color: white;
    padding: 20px;
    text-decoration: none; 
    display: block;  
    &:hover{
        background-color: rgb(96, 124, 124);
    }
}
.tables{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    gap: 3px;
    margin: 0 auto;
    width: 80%;
    h2{
        display: block;
    }
}
.choiceTable{
    justify-content: center;
    margin: 40px;
}
.displayTable{
    width: 15%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: rgba(201, 214, 247, 0.678);
    border: 1px solid black;
    padding-bottom: 10px;
    .multi{
        margin: 5px;
    
    }
}
h1{
    color: rgb(105, 151, 151);
}